[submodule "PH-Motopeças-Ponto-Backend"]
	path = PH-Motopeças-Ponto-Backend
	url = https://github.com/Nycolazs/PH-Motopecas-Ponto-Backend.git
[submodule "PH-Motopeças-Ponto-Frontend"]
	path = PH-Motopeças-Ponto-Frontend
	url = https://github.com/Nycolazs/PH-Motopecas-Ponto-Frontend.git
