[submodule "PH-Motopeças-Ponto-Backend"]
	path = PH-Motopeças-Ponto-Backend
	url = ../PH-Motopecas-Ponto-Backend.git
[submodule "PH-Motopeças-Ponto-Frontend"]
	path = PH-Motopeças-Ponto-Frontend
	url = ../PH-Motopecas-Ponto-Frontend.git
